@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #21a7b3); /* Eastern Blue */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #a919c9); /* Purple Heart */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #9c9c9c; /* Dusty Gray */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button {
  background-color: #010101; /* Black */
  color: #ffffff; /* White */
}

.button:hover {
  background-color: #fe5242; /* Sunset Orange */
}

